<h1>Sign in to TV Tracker!</h1>
<p style="color:red"><%= notice %></p>
<p></p>
<form action="/prove_you_are_you" method="post">
    <label>Email</label>
    <input type="text" name="email">
    
<p></p>
    <label>Password</label>
    <input type="password" name="password">  
 <p></p>   
    <button style="background-color:Aquamarine">Sign In</button>
</form>