<h1>
  Add a new viewing location
</h1>

<hr>

<%= render("viewing_location_templates/validation_failures.html.erb") %>

<form action="/insert_viewing_location_record" method="post">
  <div>
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" value="<%= @viewing_location.location_name %>">
  </div>

  <div>
    <label for="location_address">
      Location address
    </label>

    <input type="text" id="location_address" name="location_address" value="<%= @viewing_location.location_address %>">
  </div>

  <button>
    Create viewing location
  </button>
</form>

<hr>

<a href="/viewing_locations">
  Go back
</a>
