<h1>
  Viewing Location List
</h1>

<a href="/new_viewing_location_form">
  Add a new viewing location
</a>

<hr>

<table>
  <tr>

    <th>
      Location name
    </th>

    <th>
      Location address
    </th>


    <th>
    </th>
  </tr>

  <% @viewing_locations.each do |viewing_location| %>
  <tr>

    <td>
      <%= viewing_location.location_name %>
    </td>

    <td>
      <%= viewing_location.location_address %>
    </td>


    <td>
      <a href="/viewing_locations/<%= viewing_location.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<a href = "/shows">
<button style="background-color:PaleGreen"> Go Home </button>
</a>