<h1>
  Add a new channel
</h1>

<hr>

<%= render("channel_templates/validation_failures.html.erb") %>

<form action="/insert_channel_record" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @channel.name %>">
  </div>

  <div>
    <label for="channel_number">
      Channel number
    </label>

    <input type="text" id="channel_number" name="channel_number" value="<%= @channel.channel_number %>">
  </div>

 <p></p> 
 <button>
    Create channel
  </button>
</form>

<hr>

<a href = "/shows">
<button style="background-color:PaleGreen"> Go Home </button>
</a>
