<h1>
  Channel List
</h1>

<a href="/new_channel_form">
  Add a new channel
</a>

<hr>

<table>
  <tr>
    
    <th>
      Name
    </th>

    <th>
      Channel number
    </th>

    <th>
    </th>
  </tr>

  <% @channels.each do |channel| %>
  <tr>

    <td>
      <%= channel.name %>
    </td>

    <td>
      <%= channel.channel_number %>
    </td>


    <td>
      <a href="/channels/<%= channel.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<a href = "/shows">
<button style="background-color:PaleGreen"> Go Home </button>
</a>

