<h1 style = "color:Green;">
  My Favorite Show List
</h1>

<a href="/new_favorite_show_form">
  Add a new favorite show
</a>

<hr>

<table>
  <tr>

    <th>
      Show
    </th>

    <th>
      Viewing Location
    </th>

    <th>
    </th>
  </tr>

  <% @favorite_shows.each do |favorite_show| %>
  <tr>

    <td>
      <%= Show.where({ :id => favorite_show.show_id }).at(0).title %>
    </td>

    <td>
     <%= ViewingLocation.where({ :id => favorite_show.viewing_location_id }).pluck(:location_name).first %>
    </td>


    <td>
      <a href="/favorite_shows/<%= favorite_show.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<a href = "/shows">
<button style="background-color:PaleGreen"> Go Home </button>
</a>